{% extends "base.html" %}
{% set active_page = "index" %}
{% set content_layout = "wide" %}

{% block content %}

<!-- <h1>To make neuroscience a better science</h1> -->

<!-- will scale up to 960px and then stop so looks ok even on large screens -->
<div class="hidden-xs hidden-sm">
  <div class="jumbotron"  style="background-size:960px;height:23em;"></div>
</div>
<div class="hidden-lg hidden-md hidden-xs">
  <div class="jumbotron"  style="background-size:100%;height:24em;margin-top:40px;margin-bottom:0px;"></div>
</div>
<div class="hidden-lg hidden-md hidden-sm">
  <div class="jumbotron"  style="background-size:100%;height:16em;margin-top:40px;"></div>
</div>

<div class="text-center pitch">
<p class="pitch">provides open software frameworks, platforms, data and methodologies for neuroscience and beyond</p>
</div>

<div class="container">
  <h1>Our principles</h1>
  <!-- First row of pitches -->
  <div class="itembox">
	<div class="row">
	  <div class="col-md-4 col-sm-4">
		<div class="itembox-heading">
		  <span>Open Source</span>
		</div>
		<p>
		  Open source is not only the most efficient paradigm for scalability and collaboration,
		  it facilitates verification and reproducibility.
		</p>
		<p class="pitch">
		  We do not only advocate open source principles, but actively
		  consult scientific developers on open source licensing and development practices.
		</p>
	  </div>

	  <div class="col-md-4 col-sm-4">
		<div class="itembox-heading">
		  <span>Re-Use & Integration</span>
		</div>
		<p>
		  Scientific community is blooming with bright minds doing
		  great research and sharing powerful software solutions and data
		  collections. </p>
		<p class="pitch">
		  Instead of (re)inventing a new "better" wheel we instead
		  develop products to harness, improve, and
		  integrate existing solutions.
		</p>
	  </div>

	  <div class="col-md-4 col-sm-4">
		<div class="itembox-heading">
		  <span>Dissemination</span>
		</div>
		<p>
		  Scientific software is developed by enthusiasts, who neither
		  have facilities nor funds to support large-scale promotion
		  or reliable distribution.
		</p>
		<p class="pitch">
		  We help to promote and distribute software, data, and
		  related documentation while paying special attention to such
		  aspects as intellectual property and due acknowledgment.
		</p>
	  </div>
	</div>
  </div>

  <!-- Second row of pitches -->
  <div class="itembox">
	<div class="row">
	  <div class="col-md-4 col-sm-4">
		<div class="itembox-heading">
		  <span>Quality Assurance</span>
		</div>
		<p>
		  Research developers are often not programmers by
		  training. As a result, scientific tools are often
		  insufficiently tested and inherently broken.
		</p>
		<p class="pitch">
		  We work on exercising existing and establishing new unit-,
		  regression, integration and validity testing to guarantee
		  robust and correct operation. <emph>Reproducible bogus results are useless!</emph>
		</p>
	  </div>

	  <div class="col-md-4 col-sm-4">
		<div class="itembox-heading">
		  <span>Convenience</span>
		</div>
		<p>
		  Never was a buzz word (yet), but it is one of the critical
		  drivers summarizing reliability, accessibility etc. Only
		  when software and data are conveniently available we can
		  talk about wide-scale adoption and reproducibility.
		</p>
		<p class="pitch">
		  We work to make software and data available to the
		  community, so that everyone could harness available
		  resources regardless of their original complexity or size.
		</p>
	  </div>

	  <div class="col-md-4 col-sm-4">
		<div class="itembox-heading">
		  <span>Community</span>
		</div>
		<p>
		  Neuroscience community is vast, but scientific projects
		  often pursued in isolation and without interaction with
		  other scientific communities.
		</p>
		<p class="pitch">
		  We participate in many initiatives and projects that cross
		  borders among different communities and disciplines, and in
		  return make bridges among previously disconnected research
		  groups.
		</p>
	  </div>
	</div>
  </div>

    <div class="row clearfix">
      <div class="col-md-3 column">
        </div>
          <div class="col-md-6 column">
                <div class="row">
                    <div class="col-md-6 column">
                        <a class="btn btn-block" href="/projects">View our projects</a>
                    </div>
                    <br class="hidden-md hidden-lg"/>
                    <div class="col-md-6 column">
                        <a class="btn btn-block" href="/whoweare">Let us introduce ourselves</a>
                    </div>
                </div>
                <div class="row">
                <div class="col-md-12 column">
                </div>
                </div>
            </div>
            <div class="col-md-3 column">
            </div>
    </div>
    <br/>
</div>

<div class="background-references hidden-xs hidden-sm">
  <div class="container" id="references">
    <h2>References</h2>
    <div>
	  <ul>
		<li>
		  <a href="/whoweare#yaroslav_o_halchenko_" class="centroid">Y.O. Halchenko</a>
		  and
		  <a href="/whoweare#michael_hanke_" class="centroid">M. Hanke</a>
		  (2015).
		  <a class="reference external" href="http://dx.doi.org/10.1186/s13742-015-0072-7">
			Four aspects to make science open “by design” and not as an after-thought.</a>
          GigaScience, 4.
		  <a href="http://haxbylab.dartmouth.edu/publications/HH15.pdf">[PDF]</a> DOI: 10.1186/s13742-015-0072-7

        <li>
		  <a href="/whoweare#yaroslav_o_halchenko_" class="centroid">Y.O. Halchenko</a>
		  and
		  <a href="/whoweare#michael_hanke_" class="centroid">M. Hanke</a>
		  (2012).
		  <a class="reference external" href="http://www.frontiersin.org/Neuroinformatics/10.3389/fninf.2012.00022/full">
			Open is not enough. Let’s take the next step: An integrated, community-driven computing platform for neuroscience.</a>
		  Frontiers in Neuroinformatics, 6:22.
		  <a href="http://haxbylab.dartmouth.edu/publications/HH12.pdf">[PDF]</a> DOI: 10.3389/fninf.2012.00022
	  </ul>
	</div>
  </div>
</div>

<div class="background-testimonials">
  <div class="container">
    <blockquote>
      <p>
       3. Innovation:<br>
        The effort here matches, if it does not exceed, Friston's
        brilliancy many years ago in envisioning SPM as a cross-platform
        language for communication of research results in a standard
        format.
      </p>
      <footer>
        <cite>Anonymous reviewer of the (not funded) NIH grant submission for
		  the <href a="http://neuro.debian.net">NeuroDebian</a> project.</cite>
      </footer>
    </blockquote>
  </div>
</div>
{% endblock content %}
